.drawer-navbar{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: medium !important;
}
.products{
  font-family: Poppins, sans-serif;
}
.h1-drawer-navbar{
  color: #232323;
  margin: 0 !important;
  font-size: 31px !important;
}
.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper{
  top: 65.6px !important;
}


.h3-drawer{
  margin-left: 7px;
  cursor: pointer;
  display: flex;
  color: #232323;
}

.h3-drawer .open{
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  transform: rotate(90deg);

}

.sizes-button{
  width: fit-content;
}






.element-to-display {
  display: none; /* Hide the element by default */
}





@media (max-width: 967px) {
  .element-to-display {
      display: block; /* Display the element */
      /* Add other styling rules as needed */
  }
}


@media (max-width: 967px) {
  .sortOpen{
    display: flex;
    position: absolute;
    right: -1%;
    flex-direction: column;
    top: 52%;
    width: 127px;
}
  
  .sortOpen button{
    margin-top: 10px;
    font-size: 13px;
    padding: 4px 0px;
  }
  .sortClosed{
    display: none; /* Hide the element by default */
  }
}








  /* type select buttons */
  
  .animated-button {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    padding: 7px 20px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #292929 ;
    /* box-shadow: 0 0 0 2px #ffffff20; */
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  }

  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #292929;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    
  }

  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }

  .animated-button:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
    background: #232323;
    color: #ffffff;
  }

  .animated-button:active {
    scale: 0.95;
  }

  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }


  .active1 span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #292929;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .active1 span:first-child {
    position: relative;
    z-index: 1;
  }

  .active1 {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    background: #232323;
  }

  .active1:active {
    scale: 0.95;
  }

  .active1 span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }

  /* type select buttons */